@model Library.Models.ResponseViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div>
    @{
        if (Model.Success)
        {
            <h3>
                <span class="badge rounded-pill text-bg-success">Operation was successful!</span>
            </h3>
        }
        else
        {
            <h3>
                <span class="badge rounded-pill text-bg-danger">Operation failed</span>
            </h3>
        }
    }

    <a href="@Url.Action("Index", "Admin")">Back</a>

</div>
</body>
</html>