@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1><span class="badge bg-gradient bg-secondary"style="text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">Welcome to library service</span></h1>
  
</div>