@model Library.Models.UserNameViewModel

@{
    ViewBag.Title = "UserBookList";
    Layout = "_Layout";
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Users Book List</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true"/>
</head>

@*<h2>
    <span class="badge bg-gradient bg-secondary"style="text-shadow: 2px 2px 4px rgba(0,0,0,0.5);"></span>
</h2>*@
<body>
<form asp-action="BookListByUser" asp-controller="Admin" method="post">
    <label for="dropdown">Select user:</label>
    <select id="dropdown" name="userName" class="form-select" aria-label="Пример выбора по умолчанию">
        @foreach (var item in Model.UserNameList)
        {
            <option value="@item">@item</option>
        }
    </select>
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Enter</button>
    </div>
</form>
</body>