@{
    ViewBag.Title = "Authorization-Page";
    Layout = "_AuthorizationLayout";
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true"/>
</head>

<h1>
    <span class="badge bg-gradient bg-secondary"style="text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">Authorization</span>
</h1>
<body>
<fieldset>
    <div class="control-group">
        <label class="form-label">First name</label>
        <input type="text" name="firstName" class="form-control">
    </div>
    <div class="control-group">
        <label class="form-label">Second name</label>
        <input type="text" name="firstName" class="form-control">
    </div>
    <div class="col-md-4">
        <input class="send-button" type="submit"value="Send"/>
    </div>
</fieldset>
</body>